* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* regole generali per la pagina*/
.padding_top_standard {
  padding-top: 40px;
}
.padding_bottom_standard {
  padding-bottom: 40px;
}
.padding_top_extrasmall {
  padding-top: 8px;
}
.padding_bottom_extrasmall {
  padding-bottom: 10px;
}
.padding_top_small {
  padding-top: 15px;
}
.padding_bottom_small {
  padding-bottom: 15px;
}
.padding_allaround_small {
  padding: 15px 15px 15px 15px;
}
.padding_allaround_standard {
  padding: 30px 30px 30px 30px;
}
.bg_white {
  background-color: white;
}
.bg_grey {
  background-color: #F8F8F8;
}
.bg_blue {
  background-color: royalblue;
}
.bg_navy {
  background-color: navy;
}
.wrapper {
  width: 50%;
  margin: 0 auto;
}
.wrapper_80 {
  width: 80%;
  margin: 0 auto;
}
.text_white {
  color: white;
}
.text_blue {
  color: royalblue;
}
.text_grey {
  color: grey;
}
.bold {
  font-weight: bold;
}
.half {
  font-size: 0.5em;
}
.zeroeight {
  font-size: 0.8em;
}
.one_point_five {
  font-size: 1.5em;
}
.double {
  font-size: 2em;
}
.triple {
  font-size: 3em;
}
.quadruple {
  font-size: 4em;
}
.relative {
  position: relative;
}
.vertical_middle {
  vertical-align: middle;
}
button {
  transform: translateY(-25%);
}
/* fine regole generali per la pagina*/
/* header */
/* header-top */
.header_top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
}
#logo_digitalocean {
  height: 30px;
}
header li {
  text-transform: capitalize;
}
.collapse .nav #bottone {
  color: royalblue;
  border: 1px solid royalblue;
  background-color: #F8F8F8;
}
/* fine header-top */
/* jumbotron */
.jumbo_tron {
  background-image: url(../img/bg_jumbotron.svg);
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  margin-top: 65px;
}
.jumbo_text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(4,46,170,.2);
  border-radius: 10px;
}
.google_sign_up {
  border-radius: 10px;
}
.bottoni img {
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
}
/* fine jumbotron */
/* inizio main */
.small_circles i {
  margin-right: 10px;
}
.small_circles i:hover {
  font-weight: bold;
}
/* partner */
.partner .wrapper_80 .container-fluid .row .partners div img {
  background-color: rgb(237, 237, 237);
}
.partner .wrapper_80 .container-fluid .row p a {
  text-decoration: none;
}
/* partner */
/* deploy */
.deploy ul li {
  padding-bottom: 15px;
}
.deploy ul li a, .deploy h4, .deploy p {
  color: grey;
  text-decoration: none;
}
.deploy .deploy_menu {
  border-left: 1px solid lightgrey;
}
.deploy h5 {
  font-weight: bold;
}
.deploy .segments div {
  padding-bottom: 30px;
}

/* designed */
.designed img {
  width: 100%;
}
.next_pic {
  padding-top: 15%;
}
/* fine designed */
/* features */
.features .wrapper_80 .container-fluid .row a {
  text-decoration: none;
}
.features .wrapper_80 .container-fluid .row h4 {
  font-weight: bold;
}
/* fine features */
/* service */
.singolariga > div {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
}
.singolariga {
  border-bottom: 1px solid white;
}
.singolariga > div:last-child {
  text-align: right;
}
.service .wrapper_80 .container-fluid .row a {
  text-decoration: none;
  color: rgb(84, 219, 175);
}
/* fine service */
/* development */
.development img {
  width: 60%;
}
/* fine development*/
/* getstarted */

/* fine getstarted */
.getstarted .wrapper_80 .container-fluid .row .get_started_button p button {
  color: royalblue;
  font-weight: bold;
}
/* fine main */
/* footer */
footer .container-fluid p:first-child {
  font-weight: bold;
  color: white;
}
footer .container-fluid p {
  text-transform: capitalize;
  font-size: 0.8em;
}
footer i {
  margin-right: 20px;
  color: lightgrey;
}
footer .wrapper_80 .container-fluid a {
  text-decoration: none;
  color: lightgrey;
}
/* fine footer */






@media screen and (max-width: 991px) {
  .wrapper, .wrapper_80 {
    width: 100%;
    margin: 0 auto;
  }
  /* service */
.service .container-fluid .regions {
  text-align: center;
}
  /* service */

@media screen and (max-width: 767px) {
  .jumbo_tron {
    background-size: 1250px;
    background-repeat: repeat;
  }
  .jumbo_text, .partner h4, .deploy_title {
    margin-bottom: 40px;
  }
  #vcs, .features img {
    margin-top: 40px;
  }
  .partners div {
    margin-bottom: 15px;
  }
  .foto_designed {
    margin-bottom: 100px;
    margin-top: 100px;
  }
  .singolariga div:first-child {
    text-align: left;
  }
  .service  .wrapper_80 .container-fluid .regions {
    text-align: left;
  }
  .development img, .designed img {
    width: 70%;
  }
  .deploy_menu {
    margin-left: 30px;
    margin-bottom: 40px;
  }

}
